{% extends "application.html" %}
{% block body %}
<script>
    let q_list = {{ questions_list|tojson }};
    let has_answer = false;
    let current_id;
</script>
<!-- 問題番号のリストを表示するボタン-->


<!-- 指定idに応じて問題を挿入-->
<div class = "container" id="results_place_holder">
    <div class="row">
        <div class = "" id="question_place_holder">
            <script> 
                addEventListener('load', function(){current_id = addQuestion(0)})
            </script>

        </div>
    </div>

    <div class ="row">
        <div class="col mt-4">
            <button type="button" class="btn btn-danger" onclick=getResult()>試験を終了する</button>
        </div>
    </div>
</div>



{% endblock body %}